---
import '@/styles/globals.css'
import Game from '@/components/game.tsx'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aurdle</title>
	</head>
	<body>
		<div class="bg-slate-900 w-full h-svh max-h-svh">
			<div class="fixed top-0 right-0 w-auto h-16 flex items-center pr-4 justify-center">
				<a class="text-xl text-white underline sm:text-sm" href="./">Daily Mode</a>
			</div>
			<Game client:load daily={false}/>
		</div>
	</body>
</html>
